@font-face {
    font-family: 'Norms';
    src: url('TTNorms.ttf')  format('truetype'),
    url('TTNorms.woff') format('woff');
}

html, body{
    margin: 0px;
    padding: 0px;
    font-family: 'Norms';
    background-color: #FCFCFC;
}

:root {
    --shadow: rgba(17, 17, 26, 0.3) 0px 0px 16px;
}

h4{
    font-size: 18px;
}
#title{
    font-weight: 700!important;
    padding-bottom: 0.8em;
    img{
        height: 0.7em;
        margin-right: 0.2em;
    }
}

.bookmarkIcon{
    cursor: pointer;
}
.adminMenu{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    padding: 10px 30px;
    width: fit-content;
    margin: auto;
    /*box-shadow: var(--shadow);*/
    box-shadow: rgba(17, 17, 26, 0.2) 0px 8px 16px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #FCFCFC;
    z-index: 5;
    position: relative;
    a{
        cursor: pointer;
        border-bottom: 2px solid transparent;
        transition: all 250ms;
    }
    a:hover{
        border-bottom: #0051BA 2px solid;
    }
}
.adminHeader{
    font-weight: 600;
}

.bentoWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    padding-bottom: 15px;
    justify-content: space-between;
    gap: 30px;
    max-width: 1900px;
    margin: auto;
}

.bentoCol{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    width: calc(55% - 15px);
}

.bentoHalf{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 30px;
}

.bentoImg{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        max-width: 100%;
    }
}

.bento{
    background-color: #FCFCFC;
    border-radius: 10px;
    box-shadow: var(--shadow);
    z-index: 2;
    h4{
        font-weight: 500;
        letter-spacing: 1px;
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 16px;
        text-transform: uppercase;
        padding-bottom: 0.5em;
    }
    
}
#competitionInfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    flex-grow: 1;
}
.compDetails{
    margin-top: auto;
}
#registrationInfo{
    flex-grow: 1;
}

h1, h2, h4{
    margin-top: 0px;
    margin-bottom: 0px;
}
.snippetTitle{
    font-weight: 700;
    img{
        height: 1em;
        padding-right: 3px;
        transform: translateY(0.15em);
    }
}
.infoSnippet{
    display: flex;
    flex-direction: column;
    gap:5px;
    width: 50%;
}
.fullWidthSnippet{
    width: 100%;
}
.snippetDetail{
    font-size: 14px;
    font-weight: 400;
    p{
        margin: 0px;
    }
}
.bold{
    font-weight: 700;
}
.infoGrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 15px;
}
.eventsIcons{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.indivEventIcon{
    width: 30px;
    opacity: 0.5;
}
.mainEvent{
/*border: 2px #99C7FF solid;
filter: invert(18%) sepia(48%) saturate(5677%) hue-rotate(207deg) brightness(93%) contrast(101%);*/
opacity: 1;
border-radius: 5px;
}

.arrowBackLink{
    margin-left: 30px;
    position: relative;
}

.arrowBackLink::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 7px;  /* Width of your SVG */
    height: 12px; /* Height of your SVG */
    background: url('icons/linkArrow.svg') no-repeat;
    background-size: contain;
    transform: translateY(-65%) rotate(180deg);
    transition: all 0.3s ease-in-out; /* Control the animation */
    opacity: 0;
}
.arrowBackLink:hover::after{
transform: translateY(-65%) translateX(-12px) rotate(180deg);
opacity: 1;
}

#tabs{
    width: calc(100% - 60px);
    padding: 0px 0px 30px 0px;
    margin: 0px 30px 30px 30px;
    background-color: #FCFCFC;
    box-shadow: var(--shadow);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    z-index: 3;
    position: relative;
    min-height: calc(100lvh - 260px);
    .tabIndiv{
        width: 150px;
        padding: 10px 20px 10px 20px;
        background-color: #FDFDFD;
        border-radius: 5px;
        cursor: pointer;
        border: 1px solid #C5C5C5;
    }
    .customTab{
        background-color: #ffffff;
        border: 1px solid #4F4F4F;
    }
    .alt{
        background-color: #4F4F4F;
        color: #FDFDFD;
    }
    
    #tabsHolder{
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .selected{
            background-color: #EDEDED;
            color: black;
            border-color: #0051BA;
        }
        
    }
    #tabsContent{
        > div:not(.adminMenu){
            padding-top: 30px;
        }
        background-color: #FDFDFD;
        padding: 0px 30px 30px 30px;
        border-radius: 10px;
        width: 100%;
        .hidden{
            display: none;
        }
    }
}

.markdownInfo{
    img{
        max-width: 400px;
    }
}

.button{
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    background-color: #0051BA;
    border: 2px solid #0051BA;
    color: white;
    font-weight: 600;
    cursor: pointer;

    transition: all 250ms;
    text-decoration: none;
    
}
.button:hover{
    background-color: #003366;
    border-color: #003366;
}
.button-secondary{
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: 2px solid #0153C1;
    background-color: transparent;
    color: #0153C1;
    cursor: pointer;

    transition: all 250ms;
    text-decoration: none;
    img{
        margin-left: 10px;
    }
}
.button-secondary:hover{
    background-color: #99C7FF;
    color: #003366;

}
.button-small{
    padding: 6px 16px 6px 16px;
    border-radius: 5px;
    border: 1px solid #0153C1;
    background-color: transparent;
    color: #0153C1;
    cursor: pointer;
    font-size: 11px;
    transition: all 250ms;
    text-decoration: none;
}
.button-small:hover{
    background-color: #99C7FF;
    color: #003366;
}

/* Place the min-width rule first */
@media only screen and (min-width: 1201px) {
    .bento {
        padding: 30px;
    }
    .bentoCol:first-of-type{
        width: calc(45% - 15px);
    }
}

/* Place the max-width rule afterward */
@media only screen and (max-width: 1200px) {
    .bento {
        padding: 30px;
    }
    .bentoCol {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .bento {
        padding: 15px;
    }
}
.registerInfo{
    position: relative;
    img{
        filter: blur(4px);
    }
}
.scheduleInfo, .eventsInfo{
    position: relative;
    table, .calendarView{
    filter: blur(4px);
    }
}
.psychSheet{
    position: relative;
    table{
    filter: blur(4px);
    }
    .icon{
        width: 20px;
    }

}
.notAvail{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    padding: 20px;
    border-radius: 10px;
    background-color: #FCFCFC;
    box-shadow: rgba(17, 17, 26, 0.2) 0px 8px 16px;
}

.scrollDown{
    margin: auto;
    width: fit-content;
    margin-bottom: 30px;
    img{
        margin: 0px 5px 0px 5px;
        transform: rotate(-90deg);
    }
}

.calendar-grid {
    
   /* display: flex;
    flex-direction: column;*/
    column-count: 2;
    border-left: 2px solid black;
    padding-left: 10px;
    position: relative;
    margin-top: 20px;
}

.calendar-block {
    width: 500px; /* Adjust as needed */
    margin-bottom: 5px;
    padding: 10px;
    color: white;
    font-size: 12px;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
}


    table{
        border-collapse: collapse;
        width: 100%;
    }
    td, th{
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 0px;
        text-align: left;
    }
    tr{
        padding-top: 5px;
    }
    tbody tr:nth-child(even) {
        background-color: #DCDCDC;
        border-color: #DCDCDC;
        td{
            border-color: #DCDCDC;
        }
    }

    .scrollDown{
        padding-top: 15px;
        color: #0051BA;
        font-weight: 600;
        cursor: pointer;
        border-bottom: 1px solid transparent;
        transition: border 250ms;
    }
    .scrollDown:hover{
        border-bottom: 1px solid #0051BA;
    }