@font-face {
    font-family: 'Norms';
    src: url('TTNorms.ttf')  format('truetype'),
    url('TTNorms.woff') format('woff');
}

html, body{
    margin: 0px;
    padding: 0px;
    font-family: 'Norms';
    background-color: #EDEDED!important;
}

#profileHolder{
    width: calc(100% - 60px);
    max-width: 1600px;
    margin: auto;
    position: relative;
    display: flex;
    padding: 30px;
    min-height: 100%;
    background-color: #EDEDED;
}
#profileCard{
    border-radius: 10px;
    background-color: #FCFCFC;
    padding: 30px;
    position: sticky;
    top: 0;
    height: 100%;
    width: 400px;
    max-width: calc(100% - 1090px);
    margin-right: 30px;
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
}
#profilePhoto{
    width: fit-content;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    flex-shrink: 2;
    border-radius: 10px;
}
#profileDetails{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 8px;
    justify-content: space-between;
    
}
.profileInfoHeading{
    font-size: 12px;
}
.profileInfo{
    display: flex;
    flex-direction: column;
    width: calc(50% - 16px);

}
.profileInfoValue{
    font-size: 14px;
    font-weight: 700;
}
.right{
    text-align: right;
}

#rightContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    gap: 30px;
}
#resultsTableHolder{
    border-radius: 10px;
    background-color: #FCFCFC;
    display: flex;
    flex-direction: column;
    align-items: center;
}
tbody{
    td{
        padding-left: 50px;
    }
    .icon{
        padding-left: 10px;
    }
    img{
        width: 20px;
    }
    .event{
        width: 140px;
        padding-left: 0px;
    }
    .nr{
        width: 42px;
    }
    .cr{
        width: 42px;
    }
    .wr{
        width: 50px;
    }
    .single{
        width: 80px;
        font-weight: 700;
    }
    .average{
        width: 60px;
        font-weight: 700;
    }
    .left{
        text-align: left;
    }
    .right{
        text-align: right;
    }
    .green{
        font-weight: 600;
        color: #029347;
    }
    .orange{
        font-weight: 600;
        color: #FF5800;
    }
}
#recordsAndMore{
    display: flex;
    width: 100%;
    align-content: flex-start;
    gap: 30px;
}
.allMedals, .allRecords{
    display: flex;
    gap: 30px;
}
.recordBox{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #FCFCFC;
    border-radius: 10px;
    h3{
        margin-top: 0;
        margin-bottom: 10px;
    }
}
.medalsHolder{
    display: flex;
}
.iconAndResult{
    display: flex;
}

#achievements{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    div{
        padding: 10px 20px 10px 20px;
        border-radius: 10px;
        flex-shrink: 1;
        border: 2px solid black;
        font-weight: 600;
        font-size: 16px
    }
    .career{
        background-color: #99C7FF;
        border-color: #003366;
    }
    .records{
        background-color: #FFF5AA;
        border-color: #664D00;
    }
    .champs{
        background-color: #E0DDD5;
        border-color: #3B3B3B;
    }
    .medals{
        background-color: #FFD5BD;
        border-color: #7A2B00;
    }
}
#profileDetails .profileInfo:nth-child(even) {
    text-align: right;
}
#allResults{
    width: 100%;
    background-color: #FCFCFC;
    border-radius: 10px;

}
.tabHeaders{
    width: calc(100% - 60px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    border-radius: 10px;
    div{
        min-width: 12%;
        width: max-content;
        background-color: #B8B8B8;
        border: 2px solid #B8B8B8;
        text-align: center;
        padding: 10px 16px 10px 16px;
        border-radius: 10px;
        cursor: pointer;
    }
    .selectedTab{
        background-color: #FCFCFC;
        border-color: #0051BA;
    }
}

.hiddenPane{
    display: none;
}
.resultsPane, .competitionsPane, .recordsPane, .championshipsPane, .mapPane{
    width: 100%;
}

.competitionsPane{
    table{
        border-collapse: collapse;
        width: 100%;
    }
    td{
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 0px;
    }
    tr{
        padding-top: 5px;
    }
    tbody tr:nth-child(even) {
        background-color: #EDEDED;
        border-color: #EDEDED;
        td{
            border-color: #EDEDED;
        }
    }
}
#results tr:nth-child(even) {
    background-color: #EDEDED;
    border-color: #EDEDED;
    td{
        border-color: #EDEDED;
    }
}
.eventIcon{
    max-width: 20px;
}
.eventNameRow{
    width: 140px;
    img{
        height: 1.2em;
        transform: translate(-0.25em, 0.25em);
    }
}
.roundRow{
    width: 100px;
}
.placeRow{
    width: 42px;
}
.bestRow{
    width: 80px;
}
.averageRow{
    width: 80px;
}
.timeRow{
    width: 55px;
    text-align: right;
}
.compTitle{
    font-weight: 600;
    color: #0051BA;
}