@font-face {
    font-family: 'Norms';
    src: url('TTNorms.ttf')  format('truetype'),
    url('TTNorms.woff') format('woff');
}

html, body{
    margin: 0px;
    padding: 0px;
    font-family: 'Norms';
    overflow: visible;
    height: 100%;
    /*background-color: #EDEDED!important;*/
}
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

#profileHolder{
    width: calc(100% - 60px);
    max-width: 1490px;
    margin: auto;
    display: flex;
    padding: 30px;
    min-height: 100%;
    transition: opacity 500ms;
    /*background-color: #EDEDED;*/
}


.badgesExplainer{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0;
    padding: 30px;
   display: none;
   justify-content: center;
   align-items: center;
    background-color: rgba(0,0,0,0.4);
    /*box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;*/
    z-index: 1500;
    div{
        position: relative;
        
        background-color: #FCFCFC;
        border-radius: 10px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
        z-index: 1501;
        padding: 30px;
        #exitExplainer {
            position: absolute;
            top: 15px;
            right: 15px;
            cursor: pointer;
        }
    }
}
#explainer{
    position: absolute;
    right: 15px;
    bottom: 15px;
    cursor: pointer;
    width: 1.3em;
    height: 1.3em;
}

#profilePhoto{
    width: fit-content;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    flex-shrink: 2;
    border-radius: 10px;
}
#profileDetails{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
    
}
.profileInfoHeading{
    font-size: 14px;
}
.profileInfo{
    display: flex;
    flex-direction: column-reverse;
    width: calc(50% - 16px);
    gap: 2px;
}
.profileInfoValue{
    font-size: 16px;
    font-weight: 700;
}
.right{
    text-align: right;
}

#rightContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    gap: 30px;
}
#resultsTableHolder{
    border-radius: 10px;
    background-color: #FCFCFC;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;
    align-items: center;
}
table{
    td{
        padding-left: 50px;
    }
    .icon{
        padding-left: 10px;
        padding-right: 5px;
    }
    img{
        width: 20px;
    }
    .event{
        width: 140px;
        padding-left: 0px;
    }
    .nr{
        width: 42px;
    }
    .cr{
        width: 42px;
    }
    .wr{
        width: 50px;
    }
    .single{
        width: 80px;
        font-weight: 700;
    }
    .average{
        width: 60px;
        font-weight: 700;
    }
    .left{
        text-align: left;
    }
    .right{
        text-align: right;
    }
    .green{
        font-weight: 600;
        color: #029347;
    }
    .orange{
        font-weight: 600;
        color: #FF5800;
    }
}



#recordsAndMore{
    display: flex;
    width: 100%;
    align-content: flex-start;
    gap: 30px;
}
/* Target when there's only one child */
#recordsAndMore:has(:only-child) {
    justify-content: flex-end; /* Adjust this to flex-start, center, or flex-end */
  }
  
  /* Alternative: using a more modern approach with :has() (currently supported in Chrome and Safari) */
  #recordsAndMore:has(> :only-child) {
    justify-content: space-between; /* You can change this to flex-start or flex-end */
  }
.allMedals, .allRecords{
    display: flex;
    gap: 30px;
}
.recordBox{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #FCFCFC;
    border-radius: 10px;
    flex-grow: 1;
    align-items: flex-start;
    gap: 30px;
    
}
.recordBox, #resultsTableHolder{
    h4{
        font-weight: 400;
        letter-spacing: 1px;
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 16px;
        text-transform: uppercase;
    }
}
#resultsTableHolder {
    h4{
        padding-left: 30px;
    }
    .share{
        margin-right: 30px;
        cursor: pointer;
    }
}

.leftAlignIconAndTitle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.medalsHolder{
    display: flex;
    
}
.iconAndResult{
    display: flex;
    gap: 10px;
    align-items: center;
    span{
        font-weight: 800;
        font-stretch: condensed;
        font-size: 36px;
    }
}
.goldMedals, .bronzeMedals, .silverMedals, .nationalRecords, .worldRecords, .continentalRecords{
    font-weight: 800;
    font-stretch: condensed;
    font-size: 36px;
    line-height: 0.85;
}
.recordBoxTitle{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.recordBox img{
    height: 1.5em;
    width: 1.5em;
}
.recordIndiv {
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    align-items: flex-end;
}

.acheievementIcon{
    height: 1.2em;
    width: 1.2em;
    transform: translate(-0.15em, 0.15em);
    object-fit: contain;
    margin-right: 5px;
}

#achievements{
    width: 100%;
    display: flex;

    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
    div{
        padding: 5px 10px 5px 0px;
        border-radius: 10px;
        flex-shrink: 1;
        font-weight: 600;
        font-size: 16px
    }
    /*.career{
        background-color: #99C7FF;
        border-color: #003366;
    }
    .records{
        background-color: #FFF5AA;
        border-color: #664D00;
    }
    .champs{
        background-color: #E0DDD5;
        border-color: #3B3B3B;
    }
    .medals{
        background-color: #FFD5BD;
        border-color: #7A2B00;
    }
    .founder{
        background-color: #F6C5C5;
    }*/
}
#profileDetails .profileInfo:nth-child(even) {
    text-align: right;
}
#allResults{
    width: 100%;
    background-color: #FCFCFC;
    border-radius: 10px;

}
.tabHeaders{
    width: calc(100% - 60px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    border-radius: 10px;
    div{
        min-width: 12%;
        width: max-content;
        text-align: center;
        padding: 10px 16px 10px 16px;
        border-radius: 10px;
        border: 1.3px solid #6B6B6B;
        cursor: pointer;
        transition: all 250ms;
        color: #6B6B6B;
        font-weight: 500;
    }
    div:not(.selectedTab):hover{
        background: #D9D9D9;
    }
    .selectedTab{
        background: #6B6B6B;

        color: #FCFCFC;
    }
}
.recordsPane{
    padding: 30px;
}

.hiddenPane{
    display: none;
}
.resultsPane, .competitionsPane, .recordsPane, .championshipsPane, .mapPane{
    width: 100%;
}

.competitionsPane, .resultsPane, .championshipsPane{
    table{
        border-collapse: collapse;
        width: 100%;
    }
    td{
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 0px;
    }
    tr{
        padding-top: 5px;
    }
    tr td:last-child {
        padding-right: 10px;
    }
    tbody tr:nth-child(even) {
        background-color: #DCDCDC;
        border-color: #DCDCDC;
        td{
            border-color: #DCDCDC;
        }
    }
    tbody tr:nth-child(odd) {
        background-color: #FCFCFC;
        border-color: #FCFCFC;
        td{
            border-color: #FCFCFC;
        }
    }
}

#results tr:nth-child(even) {
    background-color: #DCDCDC;
    border-color: #DCDCDC;
    border-top: 2px solid #DCDCDC;
    border-bottom: 2px solid #DCDCDC;
    td{
        border-color: #DCDCDC;
    }
}

#results tr:last-child {
    border-bottom: none!important;
}

#results tr:nth-child(odd) {
    background-color: #FCFCFC;
    border-color: #FCFCFC;
    border-top: 2px solid #FCFCFC;
    border-bottom: 2px solid #FCFCFC;
    td{
        border-color: #FCFCFC;
    }
}

#results img {
    transform: translate(-0.15em, 0.15em);
}

#results tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

#results tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}
.eventIcon{
    max-width: 20px;
}
.eventNameRow, .event, .event-header{
    width: 140px;
    img{
        height: 1.2em;
        transform: translate(-0.25em, 0.25em);
    }
}
.roundRow{
    width: 100px;
}
.placeRow{
    width: 42px;
}
.bestRow{
    width: 80px;
}
.averageRow{
    width: 80px;
}
.timeRow{
    width: 55px;
    text-align: right;
}
.compTitle{
    font-weight: 600;
    color: #0051BA;
}
.leftTopContent{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#profileName{
    width: 100%;
    text-align: left;
    display: flex;
    gap: 5px;
    .flag{
        width: 1em;
        height: 1em;
        display: inline-block;
        background-repeat: no-repeat;
    }
}
#profileDetails{
    width: 100%;
}
.leftTopContent .emblem:nth-child(1) {
    right: -45px;
    top: -45px;
  }
  
  .leftTopContent .emblem:nth-child(2) {
    right: -45px;
    top: 25%;
  }
  
  .leftTopContent .emblem:nth-child(6) {
    right: -45px;
    top: 70%;
  }
  
  .leftTopContent .emblem:nth-child(3) {
    left: -45px;
    top: -45px;
  }

  .leftTopContent .emblem:nth-child(5) {
    left: -45px;
    top: 25%;
  }

  .leftTopContent .emblem:nth-child(4) {
    left: -45px;
    top: 70%;
  }

.emblem {
    position: absolute;
    max-width: max(38%, 6vw);
    max-height: max(38%, 6vw);
    display: inline-block;
    width: 120px;
    height: 120px;
    svg{
        z-index: 4;
    }
}
  
.emblem-base {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.emblem-base-120{
    width: 100%;
    height: 100%;
    animation: rotateText120 6s linear infinite;
    position: absolute;
    transform: rotate(120deg); 
    z-index: 2;
}
.emblem-base-240{
    width: 100%;
    height: 100%;
    animation: rotateText240 6s linear infinite;
    position: absolute;

    transform: rotate(240deg); 
    z-index: 3;
}
  
.text-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    
    pointer-events: none;
}

.method{
    position: relative;

}
#pageLoading{
    position: fixed;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    pointer-events: none;
    opacity: 1;
    transition: opacity 250ms;
}

.method .tooltip{
    visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 5px;
  top: -1.5em;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 100;
  pointer-events: none;
  transition: all 250ms;
  opacity: 0;
}

.method:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }

.shareHolder{
    position: relative;
}
  .shareHolder .tooltip{
    visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 5px;
  top: -2.5em;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 100;
  pointer-events: none;
  transition: all 250ms;
  opacity: 0;
}

.shareHolder:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }

@keyframes rotateText120 {
    0%{
        opacity: 0;
    }
    30% { 
        opacity: 0;
    }
    35% {
        opacity: 1; /* Smooth fade-in for 120 degrees */
    }
    60% { 
        opacity: 1;
    }
    65% { 
        opacity: 0; /* Smooth fade-out */
    }
    100%{
        opacity: 0;
    }
}

@keyframes rotateText240 {
    0%{
        opacity: 0;
    }
    60% { 
        opacity: 0;
    }
    65% { 
        opacity: 1;
    }
    95% { 
        opacity: 1;
    }
    100% {
        opacity: 0; /* Smooth fade-out */
    }
}


.eventPicker{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    padding-bottom: 30px;
    img{
        width: 30px;
        max-width: 8%;
        transition: opacity 250ms;
        cursor: pointer;
        /*background-color: #EDEDED;*/
        opacity: 0.3;
        border-radius: 5px;
        padding: 5px;

    }
    img:hover{
        opacity: 0.5;
    }
    .selectedIcon, .selectedIcon:hover{
        opacity: 1;
    }
}

.filteredResultsTable, .competitionsPane{
    thead{
        position: sticky;
        top: 0px;
        background-color: #DCDCDC;
        z-index: 10;
        font-weight: 700;
        box-shadow: 0 2px 3px 0px #FCFCFC;
    }
}

.shareLink{
    cursor: pointer;
}

.mapPane{
    position: relative;
    height: 600px;
}
#mapHolder{
    height: 600px;
    width: 100%;    
}

.tabContent{
    position: relative;
    padding-bottom: 30px;
}
#searchBox{
    padding: 10px 15px 10px 15px;
    background-color: #FCFCFC;
    border-radius: 10px;
    border: 2px #B8B8B8 solid;
}


@media only screen and (min-width: 1560px) {
    .leftmiddleContent{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .emblemPhotoHolder{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #profileCollapsed{
        display: none;
    }
    #profileHolder{
        flex-direction: row;
    }
    #profileCard{
        border-radius: 10px;
        background-color: #FCFCFC;
        padding: 30px;
        position: sticky;
        top: 30px;
        width: 400px;
        bottom: 30px;
        max-width: calc(100% - 1090px);
        margin-right: 30px;
        height: calc(100vh - 200px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 10;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    }
    .recordBox{
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    }
    #allResults{
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    }
    #resultsTableHolder{
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    }
}

@media only screen and (max-width: 1560px) and (min-width: 1250px) {
    .leftmiddleContent{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .emblemPhotoHolder{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    table {
        td {
            padding-left: 30px;
        }
    }
    #rightContent{
        max-width: 825px!important;
    }
    #profileHolder{
        max-width: 1300px;
        flex-direction: row;
    }
    #profileCollapsed{
        display: none;
    }

    #profileCard{
        border-radius: 10px;
        background-color: #FCFCFC;
        padding: 30px;
        position: sticky;
        top: 30px;
        width: 400px;
        bottom: 30px;
        max-width: calc(100% - 915px);
        margin-right: 30px;
        height: calc(100vh - 200px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 10;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    }
    .recordBox{
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    }
    #allResults{
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    }
    #resultsTableHolder{
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    }
}

@media only screen and (max-width: 1249px) and (min-width: 890px) {
    .emblemPhotoHolder{
        position: relative;

    }
    #header{
        max-width: 100%;
        overflow: hidden;
    }
    #profileCollapsed{
        display: none;
    }
    #profileHolder{
        flex-direction: column;
        gap: 30px;
    }
    #profileCard{
        border-radius: 10px;
        background-color: #FCFCFC;
        padding: 30px;
        width: calc(100% - 60px);
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: space-between;
        z-index: 10;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    }
    .recordBox{
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    }
    #allResults{
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    }
    #resultsTableHolder{
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    }
    .leftTopContent{
        flex-direction: row!important;
        justify-content: space-around;
        gap: 50px;
        #profilePhoto{
            max-width: 280px;
            max-height: 40lvh;
        }
    }
    #rightContent{
        max-width: 100%;
    }
    table {
        td {
            padding-left: calc(30px + (44 * ((100vw - 890px) / 360)));
        }
    }
    #achievements{
        justify-content: space-around;

    }
    .emblem{
        width: 110px;
        height: 110px;
    }
}

@media only screen and (max-width: 889px)  {
    .emblemPhotoHolder{
        position: relative;
    }
    body{
        max-width: 100vw;
        overflow-x: hidden;
    }
    table{
        overflow-x: scroll;
        width: 100%;
        td{
            padding-left: 15px!important;
        }
        .event{
            min-width: 140px;
        }
    }
    #profileHolder{
        flex-direction: column;
        gap: 90px;
        width: 100%;
        padding: 0px 15px 0px 15px;
        margin: 0;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    }
    #profileCard{
        width: 100%;
        position: relative;
        z-index: 23;
        height: auto;
        background-color: #EDEDED;
        padding: 30px 0px 30px 0px;
        z-index: 10;
    }
    #resultsTableHolder{
        max-width: 100%;
        overflow-x: scroll;
    }
    #resultsPane{
        overflow-x: scroll;
        max-width: 100%;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    }
    #rightContent{
        z-index: 20;
    }
    #header{
        z-index: 22;
        position: relative;
    }
    #profilePhoto{
        max-width: 80%;
        max-height: 50lvh;
    }
    #profileCollapsed{
        padding: 15px;
        background-color: #EDEDED;
        width: 100%;
        position: fixed;
        top: 0px;
        z-index: 21;
        display: flex;
        gap: 5px;
        img{
            width: 60px;
            height: auto;
            border-radius: 5px;
        }
        h3{
            margin: 0px;
        }
        .collapsedInfo{
            display: flex;
            flex-direction: column;
        }
    }
}
