@font-face {
    font-family: 'Norms';
    src: url('TTNorms.ttf')  format('truetype'),
    url('TTNorms.woff') format('woff');
}


#header{
    height: 60px;
    padding: 10px;
    background-color: #ffffff;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    z-index: 500;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

#randomHolder{
    width: 35%;
    aspect-ratio: 2.25;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    flex-wrap: wrap;
    z-index: 1;
    pointer-events: none;
}
.random{
    width: calc(100% / 18);
    aspect-ratio: 1;
    pointer-events: none;
}


.button{
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    background-color: #0051BA;
    border: 2px solid #0051BA;
    color: white;
    font-weight: 600;
    cursor: pointer;

    transition: all 250ms;
    text-decoration: none;
}
.button:hover{
    background-color: #003366;
    border-color: #003366;
}
.button-secondary{
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: 2px solid #0153C1;
    background-color: transparent;
    color: #0153C1;
    cursor: pointer;

    transition: all 250ms;
    text-decoration: none;
}
.button-secondary:hover{
    background-color: #99C7FF;
    color: #003366;

}
.button-small{
    padding: 6px 16px 6px 16px;
    border-radius: 5px;
    border: 1px solid #0153C1;
    background-color: transparent;
    color: #0153C1;
    cursor: pointer;
    font-size: 11px;
    transition: all 250ms;
    text-decoration: none;
}
.button-small:hover{
    background-color: #99C7FF;
    color: #003366;
}

.listMapButtons{
    display: flex;
}
.listButton{
    padding: 10px 20px 10px 20px;
    border-radius: 5px 0px 0px 5px;
    border: 2px solid #0153C1;
    border-right: transparent;
    background-color: transparent;
    color: #0153C1;
    cursor: pointer;
    font-weight: 600;
    transition: all 250ms;
    text-decoration: none;
}
.mapButton{
    padding: 10px 20px 10px 20px;
    border-radius: 0px 5px 5px 0px;
    border: 2px solid #0153C1;
    border-left: transparent;
    background-color: transparent;
    color: #0153C1;
    cursor: pointer;
    font-weight: 600;
    transition: all 250ms;
    text-decoration: none;
}

.selectedMode{
    box-shadow: inset rgba(0, 0, 0, 0.25) 0px 0px 5px 0px;
    color: white;
    background-color: #0153C1;
}

.linksHolder{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}
.linksHolder a{
    font-size: 16px;
    color: black;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border 250ms;
    font-weight: 600;
}
.noDrop:hover {
    border-bottom: 2px black solid;
}
.dropDownLink::after {
    content: '';
    display: inline-block; /* Ensure it behaves like an element */
    width: 10px; /* Set the size of the icon */
    height: 10px; /* Set the size of the icon */
    margin-left: 5px; /* Space between the text and the icon */
    background: url('icons/dropdown.svg') no-repeat center;
    background-size: contain; /* Ensure the image scales appropriately */
    vertical-align: middle; /* Align it with the middle of the text */
}

#pageContent{
    /*width: calc(100% - 20px);*/
    padding: 30px 0px 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.pageTitle{
    margin-top: -10px;
    h1{
        line-height: 1.5em;
        margin-top: 0;
    }
}
#advancedFilters{
    width: 100%;
    height: fit-content;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;
    /*gap: 10px;*/

    border-radius: 10px;
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
    h4{
        margin: 0px!important;
    }
}
#filterArrow{
    width: 15px;
    height: auto;
    transition: transform 250ms;
}
.flipped{
    transform: rotate(180deg);
}
#advancedDropDownContent{
    overflow: hidden;
    position: relative; 
    transition: max-height 0.25s ease-in;
 


}
#advancedFiltersToggle{
    cursor: pointer;
    display: flex;
    /*width: 100%;
    justify-content: space-between;
    h3{
        margin: 0px;
    }*/
}
#filterHolder{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}
.date-picker-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#eventsToggle{
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
}

.event-container {
    position: relative;
    width: 45px;
    height: 45px;
    margin-bottom: 10px; /* Just for some spacing between toggle switches */
}

input[type="date"] {
    padding: 5px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.toggle-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
    border: 2px solid white;
    transition: all 350ms;
}

.toggle-label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #EDEDED;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.toggle-checkbox:checked + .toggle-label {
    background-color: transparent; /* Background color when checkbox is checked */
    border: 2px #0153C1 solid;
}

.toggle-label img {
    width: 30px;
    height: 30px;
    transition: 0.3s;
}
#showEventsHolder{
    display: flex;
    align-items: center;
}

#newcomer{
    width: 1100px;
    border-radius: 10px;
    overflow: hidden;
    padding: 0px;
    margin-bottom: 30px;
    background-color: #FCFCFC;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    position: relative;
}

#exitNewcomer{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.newcomerImg{
    height: 300px;
    width: auto;
}
.newcomerRight{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px
}

#competitionsHolder{
    width: 1100px;
    max-width: 1100px;
    z-index: 2;
}

.compDetails{
    white-space: nowrap;
    img{
        vertical-align: middle; /* Aligns image with text */
    }
}

#infoPane{
    max-width: 320px;
    width: 320px;
    background-color: #fcfcfc;
    border-radius: 10px;
    padding: 30px;
    height: fit-content;
    position: sticky;
    z-index: 3;
    top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin-right: 30px;
    gap: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
    h2{
        line-height: 1.5em;
        margin-top: 0;
    }
}

/*infopane and filter pane wider with wider screen2220*/
@media only screen and (min-width: 2220px) {
    #infoPane {
      max-width: 500px;
      width: 500px;
    }

  }


#infoPaneButtons{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-direction: row;
}
.infoIcon{
    max-width: 24px;
    max-height: 20px;
    height: 24px;
    width: 20px;
}
.infoIconsHolder{
    width: 35px;
    height: 25px;
}
.compIcon{
    width: 1.5em;
    height: 1.5em;
    margin-right: .3em;
    line-height: 1;
    transform: translateY(0.35em);
}
.champIcon{
    position: absolute;
    pointer-events: none;
    opacity: 0.1;
    right: -10%;
    top: -10%;
    width: 60%;
}
.filtersIcon{
    width: 1em;
    height: 1em;
    margin-right: .3em;
    line-height: 1;
    transform: translateY(0.15em);
}

.indivEventPane{
    width: 30px;
    height: 30px;
    padding: 1px;
}
.flagHolderPane{
    display: flex;
    gap:5px;
    align-items: center;
}
.whenButton{
    padding: 10px 16px 10px 16px;
    border: 1px solid #6B6B6B;
    color: #6B6B6B;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: all 250ms;
    font-weight: 600;
}
.whenButton .tooltip{
    visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 5px;
  top: 1.5em;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}
#country, #continent{
    border: 1px solid #6B6B6B;
    color: #6B6B6B;
    border-radius: 5px;
    font-weight: 600;
    font-family: 'Norms';
}

#mapPane{
    height: 500px;
    /*margin-top: 30px;*/
    position: relative;
    border-radius: 5px;
}
.mapKey{
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 5px;
    padding: 10px;
    background-color: white;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 500;
    font-size: 14px;
    font-family: "Norms";
    img{
        height: 1.45em;
    }
    div{
        display: flex;
        align-items: center;
        gap: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    h4{
        margin: 0px;
        padding: 0px;
        padding-bottom: 10px
    }
}


.whenButton:hover .tooltip {
    visibility: visible;
  }

.whenButton:hover{
    background-color: #D9D9D9;
    color: #6B6B6B;
}
.selected{
    background-color: #6B6B6B;
    color: white;
}
#quickAccessFilters{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}
.topRowFilters{
    display: flex;
    justify-content: space-between;
}
#leftQuickAccessFilters{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
html, body{
    margin: 0px;
    padding: 0px;
    background-color: #FCFCFC;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Norms';
}
h1, h2, h3{
    line-height: 1.1;
    font-stretch: condensed;
}
h1{
    font-size: 48px;
    font-weight: 800;
}
h2{
    font-size: 36px;
    font-weight: 700;
}
h3{
    font-size: 27px;
    font-weight: 800;
}
a{
    color: #0051BA;
    font-weight: 600;
    text-decoration: none;
}

#infoHolder{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
}

#displayingCount{
    /*margin-top: 30px;*/
}
#registrationKey{
    display: flex;
    flex-direction: row;
    gap: 10px;
    img {
        width: 1.2em;
        height: 1.2em;
        margin-left: 0.4em;
    }
    .individualRegistrationKey{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        border-radius: 5px;
        gap: 5px
    }
}
#compTable{
    border-collapse: collapse;
    width: 1100px;
    /*margin-top:30px;*/
    border-radius: 5px;
    /*overflow: hidden;*/
}
.oddRow {
    background-color: #fcfcfc; 
}
.evenRow {
    background-color: #EDEDED; 
}
.twinComp + .twinComp{
    /*box-shadow: inset 3px 0px 0 0 #6b6b6b;*/
    box-shadow: -3px 0px 0 0 #6b6b6b;
}

.twinComp:has(+ .twinComp) {
    /*box-shadow: inset 3px 0px 0 0 #6b6b6b;*/
    box-shadow: -3px 0px 0 0 #6b6b6b;
}

.twinComp{
    /*background-color: #cacaca;*/
}

.championshipRow{
    background-color: #FFD59E;
    .locationAndRegion{
        height: 60px;
        align-items: center;
    }
}
.championshipIcon{
    width: 20px;
    height: 18px;
    transform: translateY(4px);
    margin-right: 5px;
}

.compRow:hover{
    background-color: rgba(153, 199, 255, 0.5);
}
.compRow:hover + .eventRow {
    background-color: rgba(153, 199, 255, 0.5); 
}

.championshipRow:hover{
    background-color: #FFE4C2;
}

.championshipRow:hover + .eventRow{
    background-color: #FFE4C2;
}

.championshipEvents + .championshipRow{
    border-top: 1px #6b6b6b solid!important;
}

.highlightedRow{
    /*background-color: #C1E6CD!important;
    box-shadow: inset 0 0 0 1.5px #0051BA!important;*/
    background-color: rgba(153, 199, 255, 1); 

}
.highlightedRow + .eventRow {
    /*
    box-shadow: inset 1px -1px 0 0 #0051BA, 
            inset -1px -1px 0 0 #0051BA, 
            inset 0 -1px 0 0 #0051BA;    */
            background-color: rgba(153, 199, 255, 1); 
}

/* Handle highlightedRow + adjacent twinComp scenario */
.highlightedRow.twinComp + .twinComp {
    background-color: rgba(153, 199, 255, 1); 
    /*
    box-shadow: inset 1px -1px 0 0 #0051BA, 
    inset -1px -1px 0 0 #0051BA, 
    inset 0 -1px 0 0 #0051BA, -3px 0px 0 0 #6b6b6b;*/
}
.highlightedRow.twinComp {
    background-color: rgba(153, 199, 255, 1); /*
    box-shadow: inset 0 0 0 1.5px #0051BA, -3px 0px 0 0 #6b6b6b !important;*/
}

.indivEventRow{
    width: 22px;
    height: 22px;
    padding: 4px 0 4px 0;
}
.eventsTitleRow{
    text-align: right;
    max-height: 30px;
    font-weight: 600;
}
.eventRow{

    
    max-height: 30px;
    transition: background-color 150ms;
    td{
        max-height: 30px;
    }
    img{
        width: 22px;
        height: 22px;
        display: block;
        float: left;
        padding-left: 8px;;
    }
}
.arrowLink{
    position: relative;
    padding: 0px 0px 0px 6px;
}
.arrowLink::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 7px;  /* Width of your SVG */
    height: 12px; /* Height of your SVG */
    background: url('icons/linkArrow.svg') no-repeat;
    background-size: contain;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out; /* Control the animation */
    opacity: 0;
}
.arrowLink:hover::after{
transform: translateY(-50%) translateX(12px);
opacity: 1;
}

.compRow{
    height: 30px;
    cursor: pointer;
    max-height: 30px;
    padding: 0px!important;
    border: 0px;
    border-spacing: 0px!important;   
    transition: background-color 150ms;   
    td{
        height: 18px;
        border: 0px!important;
        padding: 0px;
    border-spacing: 0px!important;
    vertical-align: middle;
    line-height: 30px;
    }
    .status{
        width: 30px;
        transform: translate(0px, 4px);
        img{
            padding: 0 6px 0 6px;
        }
    }
    .date{
        width: calc(159px + 16px);
    }
    .name{
        width: calc(234px + 16px);
        padding-right:6px;
    }
    
    span{
        padding: 0px 6px 0px 6px;
    }
    
    .locationAndRegion{
        width: 569px;
        max-width: 569px;
        display: flex;
        justify-content: space-between;
    }
    .location{
        padding: 0 8px 0 8px;
    }
    .region{
        padding: 0 8px 0 8px;
        font-weight: 600;
    }
    .flag{
        width: 42px;
        height: 18px;
        max-height:18px;
        background-size: 70%;
        background-image: url("flags/blank.svg");
        background-position: center;
        background-repeat: no-repeat;
    }
    .info{
        width: 30px;
        background-image: url("info.svg");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
    }
}
.compRow{
    .flag{
        width: 42px;
        height: 30px;
        max-height:30px;
        background-size: 70%;
        background-image: url("flags/blank.svg");
        background-position: center;
        background-repeat: no-repeat;
    }
    
}
#infoPane{
    overflow: hidden;
    .flag{
        width: 20px;
        height: 22px;
        max-height:30px;
        background-size: 100%;
        background-image: url("flags/blank.svg");
        background-position: center;
        background-repeat: no-repeat;
    }
    
}



.footer {
    width: 100%;
    background-color: #fff;
    padding: 20px 0;
    border-top: 1px solid #eaeaea;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-media {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;

}
.social-media a{
    color: black;
}

.social-icon img {
    width: 24px;
    height: 24px;
}

.footer-links {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.footer-logo {
    width: 50px;
    height: auto;
    margin-right: 15px;
}

.footer-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 600;
}

.footer-links a:hover {
    text-decoration: underline;
}