@font-face {
    font-family: 'Norms';
    src: url('TTNorms.ttf')  format('truetype'),
    url('TTNorms.woff') format('woff');
}
#header{
    height: 60px;
    padding: 10px;
    background-color: #FFFFFF;
}
.button{
    padding: 10px 16px 10px 16px;
    border-radius: 5px;
    background-color: #0051BA;
    border: 2px solid #0051BA;
    color: white;
    font-weight: 500;
    cursor: pointer;

    transition: all 250ms;
    text-decoration: none;
}
.button:hover{
    background-color: #00478F;
}
.button-secondary{
    padding: 10px 16px 10px 16px;
    border-radius: 5px;
    border: 2px solid #99C7FF;
    background-color: #FCFCFC;
    color: #3B3B3B;
    cursor: pointer;

    transition: all 250ms;
    text-decoration: none;
}
.button-secondary:hover{
    background-color: #EDEDED;
}
.button-small{
    padding: 2px 4px 2px 4px;
    border-radius: 5px;
    border: 2px solid #99C7FF;
    background-color: #FCFCFC;
    color: #3B3B3B;
    cursor: pointer;

    transition: all 250ms;
    text-decoration: none;
}
.button-small:hover{
    background-color: #EDEDED;
}
.linksHolder{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}
.linksHolder a{
    font-size: 16px;
    color: black;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border 250ms;
    font-weight: 500;
}
.noDrop:hover {
    border-bottom: 2px black solid;
}
.dropDownLink::after{
    content: '\25BC';
    font-size: 0.8em;
    margin-left: 5px;
    vertical-align: middle;
}
#pageContent{
    /*width: calc(100% - 20px);*/
    padding: 20px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
.pageTitle{
    h1{
        line-height: 1.5em;
        margin-top: 0;
    }
}
#advancedFilters{
    max-width: 320px;
    width: 320px;
    background-color: #eeeeee;
    padding: 15px;
    height: fit-content;
    position: sticky;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;
    gap: 10px;
}
#filterHolder{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}
#eventsToggle{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.event-container {
    position: relative;
    width: 40px;
    height: 40px;
    margin-bottom: 10px; /* Just for some spacing between toggle switches */
}

.toggle-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.toggle-checkbox:checked + .toggle-label {
    background-color: #99C7FF; /* Background color when checkbox is checked */
}

.toggle-label img {
    width: 30px;
    height: 30px;
    transition: 0.3s;
}
#showEventsHolder{
    display: flex;
}

#newcomer{
    width: calc(1100px - 60px);
    border-radius: 5px;
    padding: 30px;
    background-color: #E0DDD5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#competitionsHolder{
    width: 1100px;
    max-width: 1100px;
}
#infoPane{
    max-width: 320px;
    width: 320px;
    background-color: #ededed;
    border-radius: 5px;
    padding: 20px;
    height: fit-content;
    position: sticky;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin-right: 30px;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    h1{
        line-height: 1.5em;
        margin-top: 0;
    }
}
#infoPaneButtons{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-direction: row;
}
.infoIcon{
    max-width: 24px;
    max-height: 20px;
    height: 24px;
    width: 20px;
}
.infoIconsHolder{
    width: 35px;
    height: 25px;
}
.compIcon{
    width: 1.5em;
    height: 1.5em;
    margin-right: .3em;
    line-height: 1;
    transform: translateY(0.35em);
}
.indivEventPane{
    width: 30px;
    height: 30px;
    padding: 1px;
}
.flagHolderPane{
    display: flex;
    gap:5px;
    align-items: center;
}
.whenButton{
    padding: 10px 16px 10px 16px;
    border: 1px solid grey;
    cursor: pointer;
    position: relative;
    transition: background-color 250ms;
}
.whenButton .tooltip{
    visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 5px;
  top: 1.5em;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

#mapPane{
    height: 500px;
    margin-top: 30px;
}

.whenButton:hover .tooltip {
    visibility: visible;
  }

.whenButton:hover{
    background-color: #cccccc;
}
.selected{
    background-color: #aaaaaa;
}
#quickAccessFilters{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}
#leftQuickAccessFilters{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
html, body{
    margin: 0px;
    padding: 0px;
    background-color: #FCFCFC;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Norms';
}
h1, h2, h3, h4, h5, h6{
    line-height: 1.1;
}
a{
    color: #0051BA;
    font-weight: 500;
    text-decoration: none;
}
#compTable{
    border-collapse: collapse;
    width: 1100px;
    margin-top:30px;
}
.oddRow {
    background-color: #f2f2f2; /* Color 1 for the first two rows in every group of four */
}
.evenRow {
    background-color: #e0e0e0; /* Color 2 for the second two rows in every group of four */
}
.championshipRow{
    background-color: #FFD59E;
    .locationAndRegion{
        height: 60px;
        align-items: center;
    }
}
.championshipIcon{
    width: 20px;
    height: 18px;
    transform: translateY(4px);
    margin-right: 5px;
}

.compRow:hover{
    background-color: #fdfdfd;
}
.compRow:hover + .eventRow {
    background-color: #fdfdfd; /* Change this to the color you want */
}

.championshipRow:hover{
    background-color: #FFE4C2;
}

.championshipRow:hover + .eventRow{
    background-color: #FFE4C2;
}

.championshipEvents + .championshipRow{
    border-top: 1px black solid!important;
}

.highlightedRow{
    background-color: #C1E6CD!important;
}
.highlightedRow + .eventRow {
    background-color: #C1E6CD!important;
}
.indivEventRow{
    width: 22px;
    height: 22px;
    padding: 4px 0 4px 0;
}
.eventsTitleRow{
    text-align: right;
    max-height: 30px;
    font-weight: 500;
}
.eventRow{
    max-height: 30px;
    transition: background-color 150ms;
    td{
        max-height: 30px;
    }
    img{
        width: 22px;
        height: 22px;
        display: block;
        float: left;
        padding-left: 8px;;
    }
}
.compRow{
    height: 30px;
    cursor: pointer;
    max-height: 30px;
    padding: 0px!important;
    border: 0px;
    border-spacing: 0px!important;   
    transition: background-color 150ms;   
    td{
        height: 18px;
        border: 0px!important;
        padding: 0px;
    border-spacing: 0px!important;
    vertical-align: middle;
    line-height: 30px;
    }
    .status{
        width: 30px;
        transform: translate(0px, 4px);
        img{
            padding: 0 6px 0 6px;
        }
    }
    .date{
        width: calc(159px + 16px);
    }
    .name{
        width: calc(234px + 16px);
        padding-right:6px;
    }
    .arrowLink{
        position: relative;
        padding: 0px 0px 0px 6px;
    }
    span{
        padding: 0px 6px 0px 6px;
    }
    .arrowLink::after{
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            width: 7px;  /* Width of your SVG */
            height: 12px; /* Height of your SVG */
            background: url('icons/linkArrow.svg') no-repeat;
            background-size: contain;
            transform: translateY(-50%);
            transition: all 0.3s ease-in-out; /* Control the animation */
            opacity: 0;
        }
    .arrowLink:hover::after{
        transform: translateY(-50%) translateX(12px);
        opacity: 1;
    }
    .locationAndRegion{
        width: 569px;
        max-width: 569px;
        display: flex;
        justify-content: space-between;
    }
    .location{
        padding: 0 8px 0 8px;
    }
    .region{
        padding: 0 8px 0 8px;
        font-weight: 500;
    }
    .flag{
        width: 42px;
        height: 18px;
        max-height:18px;
        background-size: 70%;
        background-image: url("flags/blank.svg");
        background-position: center;
        background-repeat: no-repeat;
    }
    .info{
        width: 30px;
        background-image: url("info.svg");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
    }
}
.compRow{
    .flag{
        width: 42px;
        height: 30px;
        max-height:30px;
        background-size: 70%;
        background-image: url("flags/blank.svg");
        background-position: center;
        background-repeat: no-repeat;
    }
    
}
#infoPane{
    .flag{
        width: 20px;
        height: 22px;
        max-height:30px;
        background-size: 100%;
        background-image: url("flags/blank.svg");
        background-position: center;
        background-repeat: no-repeat;
    }
    
}



.footer {
    width: 100%;
    background-color: #fff;
    padding: 20px 0;
    border-top: 1px solid #eaeaea;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-media {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;

}
.social-media a{
    color: black;
}

.social-icon img {
    width: 24px;
    height: 24px;
}

.footer-links {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.footer-logo {
    width: 50px;
    height: auto;
    margin-right: 15px;
}

.footer-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
}

.footer-links a:hover {
    text-decoration: underline;
}